body{
    background: rgba(212, 212, 212, 0.932);
}
/* ====================================nav-bar========================================= */
.nav-bar{
    background: rgb(83, 176, 192);
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    height:60px;
}
.home{
    margin-left: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home a{
    text-decoration: none;
    color: beige;
    font-weight: bold;
}
.search-bar{
    margin-left: 26%;
}

#input{
    height:50px;
    width: 300px;
    border-radius: 0.5rem;
}
#input::placeholder{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.search-btn{
    height:45px;
    width: 100px;
    margin-top: 4px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}


.headers{
    background-color: brown;
    font-weight: bold;
    font-size: 1.3rem;
}

/* =========================Searched-Data============================================= */
.Match{
    background-color: green;
}

.csvDiv1312{
    min-height:80%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

table{
    width:100%;
    background: rgb(255, 253, 110);
}

table tbody{
    width:100%;
    background: rgb(103, 211, 202);
    justify-content: space-between;
    text-decoration: none;
}
